
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
}

.loginScreen {
  /* background-image: linear-gradient(45deg,#7928CA,#FF0080); */
  background: linear-gradient(45deg,#7928ca, #6f4bd7, #6965e0, #d865cb, #f043aa, #ff0080);
  background-size: 150% 150%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loginErrorCard {
  background-color: crimson;
}

#secQuestion {
  text-align: left;
}

.loginScreenGrid {
  padding: 100px;
}

.forgotPasswordScreenGrid{
  padding: 50px;
}

.dashboardHomeAppBar {
  background: linear-gradient(45deg,#7928ca, #6f4bd7, #6965e0, #d865cb, #f043aa, #ff0080);
  background-size: 150% 150%;
  animation: gradientAnimation 10s ease infinite;
}

.dashboardContentSpace {
  margin-left: 70px;
}

.profilePageProfileAvatar {
  padding: 20px;
  align-self: center;
}

.centerAligningDivs{
  display: block;
  width: 80px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.centerScreenProgressbar {
  align-items: center;
  display:flex;
  height: 20em;
  justify-content: center;
}

.accordionSpace{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.accordionSpace .accText {
  text-align: left;
}
