body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
  height: 100vh;
  width: 100vw;
}

.App {
  text-align: center;
}

.loginScreen {
  /* background-image: linear-gradient(45deg,#7928CA,#FF0080); */
  background: linear-gradient(45deg,#7928ca, #6f4bd7, #6965e0, #d865cb, #f043aa, #ff0080);
  background-size: 150% 150%;
  animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loginErrorCard {
  background-color: crimson;
}

#secQuestion {
  text-align: left;
}

.loginScreenGrid {
  padding: 100px;
}

.forgotPasswordScreenGrid{
  padding: 50px;
}

.dashboardHomeAppBar {
  background: linear-gradient(45deg,#7928ca, #6f4bd7, #6965e0, #d865cb, #f043aa, #ff0080);
  background-size: 150% 150%;
  animation: gradientAnimation 10s ease infinite;
}

.dashboardContentSpace {
  margin-left: 70px;
}


.centerAligningDivs{
  display: block;
  width: 120px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.centerScreenProgressbar {
  align-items: center;
  display:flex;
  height: 20em;
  justify-content: center;
}

.accordionSpace{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.accordionText {
  text-align: left;
}

#accordionTextSecondary {
  font-weight: 100;
}

#accordionTextPrimary {
  font-weight: 700;
}

#facultyLeaveAccordionTextPrimary {
  font-weight: 100;
}

.accordionDividerContent{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.txtArea{
  resize: None;
}

.searchComponent{
  margin-left: 5%;
  margin-top: 5px;
  width: 20%;
}

.disciplinaryActionText {
  color: #ff1744;
}

.noDisciplinaryActionText{
  color: #00a152;
}

#okColor{
  color: #00a152;
}
#alertColor{
  color: #ffc400;
}
#warningColor{
  color: #ff1744;
}
#medicalColor{
  color:#00a152;
}
#earnedColor{
  color:#00a152;
}
#casualColor{
  color: #00a152;
}
#attendanceBigNumber{
  color:#00a152;
}


#userGreetMessage {
  padding-right: 20px;
}

#mentorNotAllocated {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#approveGatePass {
  background-color: #00a152;
  color: white;
}

#denyGatePass {
  background-color: #ff1744;
  color: white;
}

#withholdGatePass {
  background-color: #ffc107;
  color: white;
}


.gatePassSegmentEmergency {
  text-align: start;
  margin-left: 5%;
  display: flex;
  color: #ff1744;
}

#gatePassSegmentText {
  padding-left: 20px;
}

.gatePassSegmentRegular {
  text-align: start;
  margin-left: 5%;
  display: flex;
  color: #00a152;
}

.gatePassSegmentCancelled {
  text-align: start;
  margin-left: 5%;
  display: flex;
  color: #f44336;
}

.gatePassSegmentWithheld {
  text-align: start;
  margin-left: 5%;
  display: flex;
  color: #ffa000;
}

.attendanceCard {
  margin: 50px;
  width: 450px;
  height: 425px;
  padding: 10px;
}

.homeRowcard{
  margin-top: 20px;
  margin-bottom: 7.5px;
  height: 350px;
  width: 100%;
  padding: 5px;
}

.homeCard {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  padding: 2.5px;
}
.timetable {
  min-width: 750px;
}

#courseTabsDiv {
  height: 80vh;
}

#leaveDropdown {
  min-width: 418px;
}

#hourDropdown{
  min-width: 100%;
}


.leftAlignDropdownText {
  text-align: left;
}

#downloadCSVButton {
  margin-left: 10px;
}
